// Tipografias //

$primary-font: "Plus Jakarta Sans", sans-serif;

// Colores //
$blue: #666ca3;
$black: #13183f;
$gray: #83869a;
$pink: #f74780;
$pink-light: #ffa7c3;
$white: #fcfcff;
$gradient-orange-pink: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient-blue-pink: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
